<script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/validator.js"></script>
<script type="text/javascript" src="/static/js/vendor/slick.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/flexslider-min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/gasalesforce.js"></script>
<!-- <script type="text/javascript" src="/static/js/vendor/sticky.min.js"></script> -->
<script type="text/javascript" src="/static/js/script.js"></script>
   <!-- nouislider scripts-->
<script src="/static/bower_components/nouislider/jquery.nouislider.js"></script>
<script src="/static/bower_components/nouislider/Link.js"></script>
<script src="/static/bower_components/angular-nouislider/src/nouislider.js"></script>
<script src="/static/bower_components/highcharts/highcharts.js"></script>
<script src="/static/bower_components/highcharts/modules/exporting.js"></script>
<script src="/static/bower_components/lodash/lodash.js"></script>
<!-- angular scripts-->
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/js/controllers/savingCal.controller.js"></script>
<script type="text/javascript" src="/static/uncomp/js/controllers/roiController.js"></script>
<script type="text/javascript" src="/static/js/services/savingCalModel.service.js"></script>
<script type="text/javascript" src="/static/js/directives/waypointHelper.directive.js"></script>
<script type="text/javascript" src="/static/js/filters/megaNumber.filter.js"></script>