{% set header = get("blog_header") %}
{#{% if entry.url.indexOf("blog/") > -1 %}#}
<header class="header blog-header clearfix">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{SeoUrl(header.logo_section.link)}}"><img alt="{{header.logo_section.logo.title}}" src="{{AssetUrl(header.logo_section.logo)}}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--   <ul class="nav navbar-nav main">
                {% for nav in header.nav_section.nav_menu %}
                {% set new_tab = helpers.checkTarget(nav.open_in_a_new_tab) %}
                {% if nav.sub_menu.length > 0 %}
                <li class="dropdown">
                    <a {{new_tab}} href="{% if nav.title == 'Company' %} {{nav.link}} {% else %} javascript:void(0) {% endif %}" class="dropdown-toggle" data-toggle="dropdown" title="{{nav.title}}">{{nav.title}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for sub in nav.sub_menu %}
                         <li><a href="{{SeoUrl(sub.link)}}">{{sub.title}} </a></li>
                          {% endfor %}
                      </ul>
                </li>
                {% else  %}
                <li  class="dropdown main-menu"><a {{new_tab}} class="dropdown-toggle" href="{%- if nav.title == 'Log in' -%} {{nav.link}}{%- else -%}{{SeoUrl(nav.link)}}{%- endif -%}">{{nav.title}}</a></li>
                {% endif %}
                {% endfor %}
            </ul> -->

           <!--  <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" placeholder="Enter you email address" class="form-control">
              </div>
              <a type="submit" class="cta cta-primary">subscribe</a>
            </form> -->
            <div class="navbar-form navbar-right">
              <form id="mktoForm_1037" class="clearfix blog-mkto-form"></form>              
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<script type="text/javascript">
$('.navbar-toggle').click(function(){
  if ($('.navbar-header').hasClass('gray-color')) {
    // $('.navbar-header').delay(1000).removeClass('gray-color');
    window.setTimeout(function(){$('.navbar-header').removeClass('gray-color');}, 300);
    // $('.navbar').delay(1000).removeClass('gray-color');
    window.setTimeout(function(){$('.navbar').removeClass('gray-color');}, 300);
  } else {
    $('.navbar-header').addClass('gray-color');
    $('.navbar').addClass('gray-color');
  }
});
</script>
<script>MktoForms2.loadForm("//app-sj21.marketo.com", "489-WNI-383", 1037,function(form){
  form.getFormElem().find('input[type="email"]').closest('.mktoFormRow').addClass('mkto-email-wrapper');
});
</script>
