{# If you have a "Content Type" for footer in Built.io Contentstack then use get() view helper to retrieve footer entry. #}
{% set dev_footer = get("footer_developer") %}
{# And then render footer values using the {{footer.field_name}} #}
<footer class="footer-section footer-dev">
	<div class="container">
		<p>{{dev_footer.text}}</p>
			<ul class="footer-links">
			{% for foot in dev_footer.nav_section.nav %}
				<li><a href="{{foot.link}}">{{foot.title}}</a></li>			
		    {% endfor %}		
			</ul>
	</div>
</footer>