<div class="social-media clearfix">
    <span class="st_twitter_custom twitter" displayText="Tweet" title="share on twitter" st_via="">
		<i class="icon-twitter"></i>
	</span>
    <span class="st_facebook_custom facebook" displayText="Facebook" title="share on facebook" st_via="">
		<i class="icon-facebook"></i>
	</span>
    <span class="st_linkedin_custom linkedin" displayText="Linkedin" title="share on linkedin" st_via="">
		<i class="icon-linkedin"></i>
	</span>
</div>

<!-- <nav id="social-sidebar">
	<ul>
	    <li>
	        <span class="st_twitter_custom twitter" displayText="Tweet" title="share on twitter" st_via="">
				<i class="icon-twitter"></i>
			</span>
	    </li>
	    <li>
	        <span class="st_facebook_custom facebook" displayText="Facebook" title="share on facebook" st_via="">
				<i class="icon-facebook"></i>
			</span>
	    </li>
	    <li>
	        <span class="st_linkedin_custom linkedin" displayText="Linkedin" title="share on linkedin" st_via="">
				<i class="icon-linkedin"></i>
			</span>
	    </li>
	</ul>
</nav> -->