{% extends "layouts/default.html" %} 
{% block content %} 
{% include "partials/header_global.html" %} 
{% set contact = get('home_contact_us_developer')%}
<div class="main-wrapper transparent-header bs-cms-comparsion-wrap">
    <section class="secondary-hero-banner" title="{{entry.banner_section.background_image.title}}" style="background-image:url({{AssetUrl(entry.banner_section.background_image)}});">
        <div class="banner-wrap text-center">
            <div class="banner-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                            <div class="headers">                                
                                <h1>{{entry.banner_section.title}}</h1>
                            </div>
                            <div class="header-desc">
                                <p>{{entry.banner_section.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tab-section-wrap fixed-sub-menu">
        <div class="col-md-12">
            <div class="subnav-head subnav-scroll clearfix">
                <!-- Nav tabs -->
                <div class="sub-nav-wrapper">
		        	<ul class="action-menu">
		                <li><a href="{{entry.sub_nav_section.url}}"><img alt="{{entry.sub_nav_section.logo.title}}" src="{{AssetUrl(entry.sub_nav_section.logo)}}"/></a></li>
		                <li><a href="{{SeoUrl(entry.sub_nav_section.sub_nav.menu.href)}}">{{entry.sub_nav_section.sub_nav.menu.title}}</a> / <span class="breadcrum">{{entry.sub_nav_section.sub_nav.sub_menu.title}}</span></li>
		            </ul>
                    <ul class="tab-sub-nav one-pager-anchor">
                        {% for sub in entry.sub_nav_section.sub_nav %}
                        <li {% if loop.index==1 %} class="active" {% endif %}><a href="{{sub.link}}">{{sub.title}}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- <ul class="visible-xs visible-sm hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </ul> -->
                </div>
            </div>
        </div>
        <section class="section-row intro-wrap clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <!-- Graphical interaction -->
                        <p class="graphic">
                            <img alt="{{entry.cms_section.image.title}}" src="{{AssetUrl(entry.cms_section.image)}}">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <h3>{{entry.cms_section.title}}</h3>
                        {{entry.cms_section.desc}}
                    </div>
                </div>
            </div>
        </section>
        <section class="section-row gray-bg clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                        <div class="table-responsive">  
                            <table class="comparision-table">
        					    <thead>
        					        <tr>
                                        {% for heading in entry.cms_comparison_section.comparison_section.compare_title %}
        					            <th>{{heading.title}}</th>
                                        {% endfor %}
        					        </tr>
        					    </thead>
        					    <tbody>
                                    {% for features in entry.cms_comparison_section.comparison_section.comparison %}
        					        <tr>
        					            <td><span>{{features.text}}</span></td>
                                        {% for feature in features.points %}    
                                        <td><span>{{feature.title}}</span></td>
                                        {% endfor %}
        					        </tr>
                                    {% endfor %}
        					    </tbody>
    					    </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<section class="section-row contact-us clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                        <h2 class="text-center head-text">{{entry.demo_section.title}}</h2>
                         {% include "partials/get_demo_business.html" %}					  
					</div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(window).scroll(function() {
        if ($(window).scrollTop() >= ($('.fixed-sub-menu').offset().top)) {
            $('.subnav-scroll').css('position','fixed');
        // console.log('in');
        } else {
            $('.subnav-scroll').css('position','absolute');
        }
    });
</script>
<script type="text/javascript" src="/static/js/vendor/jquery.waypoints.min.js"></script>
{% include "partials/footer_global.html" %} {% endblock %}